#homepage{
	background: url(originalflag.jpg) no-repeat center center fixed;
	background-size: cover;
}

.toprow{
	margin-top: 7%;
	margin-left: 10%;
}

.nav-pills li a{
	font-size: 150%;
	background-color: rgb(0,0,0);
	color: rgb(250,250,250);
}

.nav-pills li a:hover{
	color:rgb(250,250,250);
	background-color: red;
}

.bodyrow{
	margin-top: 8%;
	margin-left: 10%;
	margin-right: 10%;
}

.intro{
	font-family: 'Rum Raisin', sans-serif;
	font-size: 500%;
	font-style: italic;
	font-weight: bold;
	color: rgb(250,250,250);
	color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
#bio{
	background-color: #0055bb;
}

.about-header{
	font-family: 'Rum Raisin', sans-serif;
	font-size: 350%;
	color: red;
}

.chelsea{
	float: right;
}

.boxed{
	margin-top: 8%;
	margin-left: 10%;
	margin-right: 10%;
	border: 5px dashed black;
	background-color: white;
}

#thesis{
	background-color: #0055bb;
	
}

.thesis-header{
	font-family: 'Rum Raisin', sans-serif;
	font-size: 350%;
	color: red;
}

.thesis-image{
	float: right;
}

#resume{
	background-color: #0055bb;
	
}

.resume-header{
	font-family: 'Rum Raisin', sans-serif;
	font-size: 350%;
	color: red;
}

.no-margin{
	margin:0;
	font-family: "Georgia", "Times New Roman", serif;
}
#contact{
	background-color: #0055bb;
}

.contact-header{
	font-family: 'Rum Raisin', sans-serif;
	font-size: 350%;
	color: red;
}

.body-content{
	font-family: "Georgia", "Times New Roman", serif;
}